In [1]:
i=1
while i<=5:
    s='*'*i
    print(s)
    i=i+1

*
**
***
****
*****

In [2]:
i=1
while i<=5:
    s=str(i)*i
    print(s)
    i=i+1

1
22
333
4444
55555

In [3]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

In [4]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j+i,end='')
    print()

2
34
456
5678
678910

In [5]:
for i in range(1,6):
    for j in range(1,i+1):
        if (i+j)%2==0:
            print(1,end='')
        else:
            print(0,end='')
    print()

1
01
101
0101
10101

In [6]:
rows = 5

current_number = 1
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(current_number, end=" ")
        current_number += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [7]:
rows = 5

for i in range(1, rows + 1):
    for j in range(rows, rows - i, -1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [9]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(rows - i + 1):
        print(i, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [10]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [11]:
i=5
n=1
while i>=1:
    s=str(n)*i
    print(s)
    if i<=5//2+1:
        n=n-1
    else:
        n=n+1
    i=i-1

11111
2222
333
22
1

In [12]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [13]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(i):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [14]:
rows = 5
for i in range(rows, 0, -1):
    for j in range(rows, rows - i, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [15]:
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [16]:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print(i, end=" ")
    print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [17]:
rows = 5
for i in range(1, rows + 1):
    for j in range(rows - i):
        print(" ", end=" ")
    for k in range(1, 2 * i):
        print(k, end=" ")
    print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [18]:
rows = 5
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [19]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765

In [20]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345

In [21]:
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

*********
 *******
  *****
   ***
    *

In [22]:
n=5
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

555555555
 4444444
  33333
   222
    1

In [23]:
#Q3(z)
for i in range(5,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

123456789
 1234567
  12345
   123
    1

In [24]:
#Q3(z1)
for i in range(5,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

567898765
 4567654
  34543
   232
    1

In [25]:
for i in range(5,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

543212345
 5432345
  54345
   545
    5

In [26]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'*'
    print(s.center(10))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [27]:
n=1
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n+1
n=4
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(n)
    print(s.center(10))
    n=n-1

    1
   222
  33333
 4444444
555555555
 4444444
  33333
   222
    1

In [28]:
for i in range(1,6):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))
for i in range(4,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+str(j)
    print(s.center(10))

    1
   123
  12345
 1234567
123456789
 1234567
  12345
   123
    1

In [29]:
n=0
for i in range(1,6):
    st=''
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=i-1
    for j in range(1,2*i):
        if j<=i:
            n=n+1
        else:
            n=n-1
        st=st+str(n)
    print(st.center(10))

    1
   232
  34543
 4567654
567898765
 4567654
  34543
   232
    1

In [57]:
for i in range(1,6):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))
for i in range(4,0,-1):
    st=''
    n=6
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        st=st+str(n)
    print(st.center(10))

    5
   545
  54345
 5432345
543212345
 5432345
  54345
   545
    5

In [31]:
for i in range(1,8):
    for j in range(1,8):
        print('*',end='')
    print()

*******
*******
*******
*******
*******
*******
*******

In [53]:
for i in range(1,8):
    for j in range(1,8):
        if i in (1,7):
            print('*', end=' ')
        elif j in (1,7):
            print('*', end='   ')
        else:
            print(' ', end='  ')
    print()

* * * * * * *
*                  *
*                  *
*                  *
*                  *
*                  *
* * * * * * *

In [58]:
for i in range(1,8):
    for j in range(1,8):
        if i==j:
            print('\\',end='')
        elif i+j==8:
            print('/',end='')
        else:
            print('*',end='')
    print()

\*****/
*\***/*
**\*/**
***\***
**/*\**
*/***\*
/*****\

In [66]:
r=int(input('Enter no of rows: '))
c=int(input('Enter no of columns: '))
for i in range(1,r//2+1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))
print('WELCOME'.center(c,'-'))
for i in range(r//2,0,-1):
    s=''
    for j in range(1,2*i):
        s=s+'.|.'
    print(s.center(c,'-'))

Enter no of rows: 11
Enter no of columns: 33
---------------.|.---------------
------------.|..|..|.------------
---------.|..|..|..|..|.---------
------.|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|.---
-------------WELCOME-------------
---.|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|.------
---------.|..|..|..|..|.---------
------------.|..|..|.------------
---------------.|.---------------

In [70]:
s=int(input('Enter size: '))
for i in range(1,s+1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))
for i in range(s-1,0,-1):
    l=[]
    n=97+s
    for j in range(1,2*i):
        if j<=i:
            n=n-1
        else:
            n=n+1
        l.append(chr(n))
    st='-'.join(l)
    print(st.center(37,'-'))

Enter size: 10
------------------j------------------
----------------j-i-j----------------
--------------j-i-h-i-j--------------
------------j-i-h-g-h-i-j------------
----------j-i-h-g-f-g-h-i-j----------
--------j-i-h-g-f-e-f-g-h-i-j--------
------j-i-h-g-f-e-d-e-f-g-h-i-j------
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j
--j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j--
----j-i-h-g-f-e-d-c-d-e-f-g-h-i-j----
------j-i-h-g-f-e-d-e-f-g-h-i-j------
--------j-i-h-g-f-e-f-g-h-i-j--------
----------j-i-h-g-f-g-h-i-j----------
------------j-i-h-g-h-i-j------------
--------------j-i-h-i-j--------------
----------------j-i-j----------------
------------------j------------------